<div class="row">{{Question1}}</div>

<div class="row">
<button type="button" class="btn btn-secondary btn-lg btn-block answer">{{Option1}}</button>
</div>

<div class="row">
<button type="button" class="btn btn-secondary btn-lg btn-block answer">{{Option2}}</button>
</div>

<div class="row">
<button type="button" class="btn btn-secondary btn-lg btn-block answer">{{Option3}}</button>
</div>

<div class="row">
<button type="button" class="btn btn-secondary btn-lg btn-block answer">{{Option4}}</button>
</div>




